@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1;
  background-color: #ffffff;
}

img {
  max-width: 100%;
}

.header-inner {
  max-width: 1200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-menu-button {
  display: none;
}
.header {
  height: 200px; /* 好きな高さ */
  background-image: url("../image/page_top.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}


/* .header-logo {
  display: block;
  width: 170px;
} */

.site-menu {
    position: absolute;
  bottom: 10px;   /* ← ここで下からの距離を調整 */
  left: 50%;
  transform: translateX(-50%);
}
.site-menu ul {
  display: flex;

}

.site-menu ul li {
  margin-left: 20px;
  margin-right: 20px;
}

.site-menu ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 20px;
   text-shadow: 0 3px 0 rgba(0,0,0,0.15);
   white-space: nowrap;
   text-decoration: underline;
}


.footer {
  color: #ffffff;
  background-color: #24211b;
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  display: block;
  width: 235px;
  margin-top: 90px;
}

.footer-tel {
  font-size: 26px;
  font-weight: bold;
  margin-top: 28px;
}

.footer-time {
  font-size: 13px;
  margin-top: 16px;
}

.copyright {
  font-size: 14px;
  font-weight: bold;
  margin-top: 90px;
}

@media (max-width: 800px) {


  .site-menu li {
    margin: 0;
    text-align: center;
  }

  .site-menu ul {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px 8px;
  text-align: center;
  justify-items: center; /* ← gridではこっち */
  align-items: center;
  }

  .header {
    position: relative;
    height: 160px; /* ← auto じゃなく高さを持たせる */
    background-image: url("../image/page_top.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: auto;
  }

  .header-inner {
    overflow: visible;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    position: relative;
  }

  .header-logo {
    width: 100px;
  }
  .header-site-menu {
  position: static;   /* ←ここ変更 */
  top: 120px;        /* ヘッダーの高さ分 */
  left: 0;
  right: 0;
  color: #ffffff;
  background-color: #736E62;
  padding-top: 30px;
  padding-bottom: 50px;
  display: block;
  }
  

  .site-menu ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 10px;
  color: #000;
  text-shadow: 0 3px 0 rgba(0,0,0,0.15);
  white-space: nowrap;
  text-decoration: underline;
  }



  .header-site-menu.is-show {
    display: block;
  }

  .toggle-menu-button {
    display: block;
    width: 44px;
    height: 34px;
    background-image: url(../images/common/icon-menu.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
  }

  .main {
    padding-top: 120px;
  }

  .footer-logo {
    margin-top: 60px;
  }

  .footer-tel {
    font-size: 20px;
  }

  .copyright {
    margin-top: 50px;
  }
}

@media (max-width: 800px) {
  .header {
    position: relative !important;
    height: auto !important;
    background: red !important;
  }

  .header-site-menu {
    display: block !important;
    position: static !important;
  }
}
