@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1;
  background-color: #ffffff;
}

img {
  max-width: 100%;
}

.header-inner {
  max-width: 1200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-menu-button {
  display: none;
}

.header {
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.site-menu {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.site-menu li {
  margin: 0 20px;
}
.sp-label {
  display: none;
}

.site-menu ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  text-decoration: underline;
}


.footer {
  color: #ffffff;
  background-color: #24211b;
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  display: block;
  width: 235px;
  margin-top: 90px;
}

.footer-tel {
  font-size: 26px;
  font-weight: bold;
  margin-top: 28px;
}

.footer-time {
  font-size: 13px;
  margin-top: 16px;
}

.copyright {
  font-size: 14px;
  font-weight: bold;
  margin-top: 90px;
}

@media (max-width: 800px) {
  .header {
    position: relative;
    height: 70px;
    background-image: url("../image/page_top.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header-inner {
    overflow: visible;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-menu li {
    margin: 0;
    text-align: center;
  }

  /* .site-menu  {
    display: flex;
    flex-direction: column;
    gap: 10px;
  } */

    .site-menu {
    position: static;
    transform: none;
    left: auto;
    bottom: auto;

    flex-direction: column;
    gap: 10px;
  }

  
  .header-site-menu .site-menu  {
    gap: 10px;
  }

  .header-site-menu {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #c1ff4e83;
    padding-top: 30px;
    padding-bottom: 30px;
    display: none;
  }

  .site-menu ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 10px;
    color: #000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    text-decoration: underline;
  }

  .header-site-menu.is-show {
    display: block;
  }

  .toggle-menu-button {
    display: block;
    width: 44px;
    height: 34px;
    border: none;
    background: none;
    position: relative;
  }

  .toggle-menu-button::before,
  .toggle-menu-button::after,
  .toggle-menu-button span {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background: #000;
  }

  .toggle-menu-button::before {
    top: 6px;
  }

  .toggle-menu-button span {
    top: 15px;
  }

  .toggle-menu-button::after {
    bottom: 6px;
  }

  .main {
    padding-top: 10px;
  }

  .footer-logo {
    margin-top: 60px;
  }

  .footer-tel {
    font-size: 20px;
  }

  .copyright {
    margin-top: 50px;
  }

    .pc-label {
    display: none;
  }

  .sp-label {
    display: inline;
  }
}