@charset "utf-8";

  h1 {
    font-size: 30px;
    padding: 30px 0;
  }

  h2 {
    font-size: 20px;
    padding: 10px 0;
  }
   h3 {
    font-size: 16px;
    padding: 10px 0;
  }

  h1,h2,h3{
    text-align: center;
    max-width: 600px;
    margin: 10px auto;
  }

  img {
    display: block;
    width: 70%;
    max-width: 500px;
    padding: 10px;
    margin: auto;
  }


  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    max-width: 600px;
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 90%;
    margin: 10px auto;
  }
  th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;

  }

  .hit th:first-child,
  .hit td:first-child {
  width: 20px;
  }

  .col1 {
    width: 150px;
  }


