@charset "utf-8";

  h1 {
    font-size: 30px;
    margin: 0 auto;
    padding: 30px 0;
  }

  h2 {
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
  }
   h3 {
    font-size: 16px;
    text-align: center;
    padding: 5px 0;
    margin: 10px 0                         ;
  }

  img {
    display: block;
    width: 80%;
    padding: 10px;
    margin: auto;
  }


  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 90%;
    margin: 10px auto;
  }
  th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;

  }

  .length th, .lengthtd {
    width: calc(100% / 3);
  }


  .hit th:first-child,
  .hit td:first-child {
  width: 20px;
  }



