@charset "utf-8";

.first {
  display: flex;
  gap: 20px; 
  padding: 20px 0;
}

.second {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

.card img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.card {
  width: 30%; 
  text-align: center;
}

.first, .second {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-button {
  display: inline-block;
  margin-top: 16px;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 999px;
}

.card p {
  margin-top:5px;
  line-height: 1.6;
}

.photo img {
  width: 30%;
}

h1 {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.photo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.member {
  text-align: center;
  display: flex;
  flex-direction: column;
}


h4 {
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  word-break: break-word;
}
