@charset "utf-8";

.update ul {
  list-style: disc;
  /* padding-left: 100px;  */
  padding: 3px 20px;
  margin: 0 20px;
}

.update ul li {
  margin-bottom: 2px;
  
}

h5 h6{
  text-align: left;
  font-size: 10px;
}
h5{
  padding-left: 10px;
  padding-top: 10px;
}
h6{
  padding-left: 20px;
}

a{
  text-decoration: underline;
}

.sets-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px; /* セット同士の間隔 */
  margin: 2px;
}

.theme {
  display: flex; /* カードとソングを横並び */
  gap: 5px;
  align-items: flex-start;
}

.theme .card img {
  width: 60px;
  display: block;
}

.theme .song ul {
  list-style: disc;
  font-size: 15px;
}

.theme .card {
  width:70px;  /* カードの横幅 */
  
  flex-shrink: 0; /* 縮まないようにする */
}

/* .theme .song li {
  white-space: nowrap;
} */
