   :root {
  --main-color: black;
  }
  
  h1, h2, h3 {
    background-color:  var(--main-color);
    text-align: center;
    color: white;
    margin: 10px 10px;
  }

  h1 {
    background-color: black;
    font-size: 20px;
    padding: 20px;
    margin-top: 30px;
  }
  h2 {
    background-color: rgb(60, 60, 60);
    font-size: 15px;
    padding: 10px;
    margin: 5px 15px;
  }
  h3 {
    background-color: rgb(160, 160, 160);
    font-size: 10px;
    padding: 10px;
    margin: 5px 15px;
  }

  .length img {
    height: 50px;
  }

  p{
    text-align: center;
  }

  .theme {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 20px; */
}
  .theme img {
    width: 100%;
    height: auto;
  }
.hed img {
  margin: 10px auto;
  height: 100px;
  display: flex;
}
